.box {
  display: flex;
  flex-wrap: wrap;
}

.box1, .box2, .box3, .box4 {
  width: 25%;
  height: 314px;
  position: relative;
}

.spring, .summer, .autumn, .winter {
  position: absolute;
  bottom: 20px;
  text-align: center;
  right: 65px;
}

.text, .text2, .text3, .text4 {
  font-size: 48px;
  line-height: 100px;
  font-family: "Baloo Chettan 2";
}

.box1 {
  background-color: #ecf3e8;
}

.text {
  color: #835d8c;
  font-weight: 300;
  position: relative;
}

.box2 {
  background-color: #f1e5e5;
}

.text2 {
  color: #e84f88;
  font-weight: 700;
}

.box3 {
  background-color: #f6f3e6;
}

.text3 {
  color: #835d8c;
  font-weight: 300;
}

.box4 {
  background-color: #ecf4f5;
}

.text4 {
  color: #835d8c;
  font-weight: 300;
}

@media only screen and (max-width: 600px) {
  .box {
    flex-direction: column;
    align-items: center;
  }

  .box1, .box2, .box3, .box4 {
    width:1313px;
    height: 164px;
  }

  .spring, .summer, .autumn, .winter {
    right: 43%;
  }

  .text, .text2, .text3, .text4 {
    display: flex;
    flex-direction: column;
    text-align: left;
    position: relative;
    left: 7%;
    top: 6%;
  }
  .text2 {
    left: 17%;
  }
  
  .text4{
    left: 4%;
  }
}
