.img-wrapper3 {
  display: flex;
  align-items: center;
  height: 300px;
  margin-top: 80px;
}

.img7 {
  margin-left: -18px;
  height: 100%;
}

.img8 {
    position: relative;
    margin-left: -80px;
    margin-top: 30px;
    left: -8%;
}

.img9 {
    position: relative;
    left: 2.3%;
    top: 8px;
}

.img10 {
    position: relative;
    left: 14%;
    top: -2px;
}


.img-container {
  position: relative;
  display: inline-block;
}

@media only screen and (max-width: 600px) {
.img-wrapper3{
  display: grid;
    align-items: center;
    height: fit-content;
    margin-top: 34px;
    grid-template-columns: auto auto;
}
.img8{
  position: relative;
        margin-left: -21px;
        margin-top: 30px;
        left: 79%;
        width: 340px;
}

.img7{
  position: relative;
        margin-top: -13px;
        left: 27%;
        width: 594px;
}
.img10{
  display: none;
}
.img9{
  position: relative;
    left: 69.3%;
    top: 20px;
    width: 581px;
}
}