.main{
    background-image: url('src/assets/hero.png');
    margin: 0px;
    background-repeat: no-repeat;
    height: 700px;
}

.newlooks {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 120px;
  line-height: 100px;
  color: #e84f88;
  margin-top: -42%;
  margin-left: 193px;
  font-family: "Karla";
  font-weight: 100;
} 

.carousel{
  position: relative;
    margin-top: 0%;
    margin-left: 310px;
    width: 60%;
}

