.foo {
  border: 0px solid grey;
  width: 100%;
  height: 200px;
  background-color: #f4f4f4;
  font-weight: 700;
  margin-top: 30px;
}

.back {
  display: flex;
  justify-content: space-evenly;
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;
}

.home {
  position: absolute;
  left: 7%;
  font-family: "Baloo Chettan 2";
  top: 576%;
  font-weight: 500;
  color: #919191;
  text-decoration: none;
  cursor: pointer;
}

.about {
  position: absolute;
  left: 12%;
  top: 576%;
  font-family: "Baloo Chettan 2";
  font-weight: 500;
  color: #919191;
  text-decoration: none;
}

.contact {
  position: absolute;
  left: 17%;
  top: 576%;
  font-family: "Baloo Chettan 2";
  font-weight: 500;
  color: #919191;
  text-decoration: none;
}

.owners {
  font-size: 14px;
  line-height: 100px;
  color: #919191;
  font-weight: 500;
  font-family: "Karla";
  position: absolute;
  top: 575%;
  left: 7%;
  text-align: left;
}


.user-textbox {
  border: 2px solid whitesmoke;
  position: absolute;
  right: 230px;
  top: 580%;
  color: #919191;
  height: 30px;
  width: 180px;
}

.subscribe-btn {
  background-color: #e84f88; 
  color: #fff;
  padding: 5px 20px;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  position: absolute;
  right: 40px;
  top: 580%;
  width: 180px;
  height: 30px;
  justify-content: center;
  align-items: center;
}

.subscribe-btn:hover {
  background-color: #b30009;
}

.media {
  display: flex;
  color: gray;
}

.facebook {
  position: absolute;
  left: 94%;
  top: 576%;
  color: #919191;
}

.facebook:hover,.pinterest:hover,.twitter:hover{
  color: #545353;
}

.pinterest {
  position: absolute;
  left: 92%;
  top: 576%;
  color: #919191;
}

.twitter {
  position: absolute;
  left: 90%;
  top: 576%;
  color: #919191;
}

.home:hover,
.about:hover,
.contact:hover {
  color: rgb(62, 62, 62);
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  
.foo{
    border: 0px solid grey;
    width: 1309px;
    height: 200px;
    background-color: #f4f4f4;
    font-weight: 700;
    margin-top: 30px;
}
.back{
  display: flex;
    justify-content: space-evenly;
    font-family: "Courier New", Courier, monospace;
    cursor: pointer;
    position: relative;
    top: 39%;
    font-size: 25px;
}
.about {
  position: absolute;
  left: 14.5%;
  top: 576%;
  font-family: "Baloo Chettan 2";
  font-weight: 500;
  color: #919191;
  text-decoration: none;
}
.contact {
  position: absolute;
  left: 22%;
  top: 576%;
  font-family: "Baloo Chettan 2";
  font-weight: 500;
  color: #919191;
  text-decoration: none;
}
.owners{
  display: none;
}
.subscribe-btn{
  background-color: #e84f88;
    color: #fff;
    padding: 5px 20px;
    font-size: 22px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    top: 85px;
    left: 82%;
    width: 201px;
    height: 37px;
}
.user-textbox{
  border: 2px solid whitesmoke;
    position: relative;
    left: 61%;
    top: 126px;
    color: #919191;
    height: 34px;
    width: 243px;
}
.media{
  position: relative;
    display: flex;
    color: gray;
    top: 5px;
    font-size: 28px;
}
.twitter{
  position: relative;
    left: 85%;
    top: -13px;
    color: #919191;
}
.facebook{
  position: relative;
    left: 94%;
    top: -13px;
    color: #919191;
}
.pinterest{
  position: relative;
    left: 86.7%;
    top: -13px;
    color: #919191;
}
.facebook:hover,.pinterest:hover,.twitter:hover{
  color: #545353;
}
}